@import url("/css/fonts.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: inherit;
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body.active {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.title {
  font-size: 30px;
  line-height: 153.3333333333%;
  font-weight: 700;
}

.text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
}

.link {
  font-size: 20px;
  line-height: 230%;
  font-weight: 600;
  color: #E8AA31;
}

.header__body1, .header__body2, .header__list, .header__enter, .header__main, .header__part2, .header__call, .header__basket_group, .header__loc_group, .header__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__body1, .header__body2, .header__list, .header__enter, .header__main, .header__part2, .header__loc_group, .header__basket_group, .header__list2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__call {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.header__body1, .header__body2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  line-height: 1;
}
.header__body10 {
  background: #141414;
}
@media (max-width: 900px) {
  .header__body10 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
  }
}
.header__body1 {
  color: #fff;
}
.header__body2 {
  color: #000;
}
@media (max-width: 900px) {
  .header__body2 {
    padding-top: 100px;
  }
}
@media (max-width: 900px) {
  .header__list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    top: 0;
    left: -100%;
    height: 100vh;
    background: rgba(238, 238, 238, 0.89);
    padding-top: 100px;
    overflow: scroll;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: -1;
  }
  .header__list.active {
    left: 0;
    z-index: 10;
  }
}
.header__item {
  margin-right: 60px;
}
.header__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .header__item:last-child {
    display: none;
  }
}
@media (max-width: 900px) {
  .header__item {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}
.header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
@media (max-width: 900px) {
  .header__link {
    font-size: 25px;
    color: #000;
  }
}
.header__user {
  width: 21px;
  height: 27px;
  margin-right: 15px;
}
.header__enter {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 900px) {
  .header__enter {
    display: none;
  }
}
.header__logo {
  margin-right: 158px;
}
@media (max-width: 1350px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__logo0 {
  font-size: 35px;
}
.header__group {
  position: relative;
  width: 377px;
  height: 41px;
}
@media (max-width: 1350px) {
  .header__group {
    position: fixed;
    top: -150px;
    opacity: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
  }
  .header__group.active {
    top: 200px;
    opacity: 1;
    z-index: 10;
  }
}
.header__input, .header__search {
  position: absolute;
}
.header__input {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: 42px;
  font-size: 14px;
  font-weight: 500;
  outline: #eee;
}
.header__search {
  top: 40%;
  left: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 11.6px;
  height: 11.6px;
}
.header__search2 {
  margin-right: 30px;
  width: 31px;
  height: 31px;
  cursor: pointer;
}
@media (min-width: 1350px) {
  .header__search2 {
    display: none;
  }
}
.header__loc_group {
  font-size: 18px;
  font-weight: 700;
  margin-right: 55px;
}
.header__loc {
  font-size: 18px;
  margin-right: 10px;
}
.header__call {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 600;
}
.header__call_text {
  margin-right: 17px;
}
.header__call_text span {
  display: block;
  color: #E8AA31;
  margin-top: 3px;
}
.header__arrow {
  font-size: 10px;
  color: #E8AA31;
}
.header__favorit {
  margin-right: 30px;
  font-size: 32px;
  position: relative;
}
.header__bask_group {
  position: relative;
  margin-right: 21px;
}
.header__basket {
  width: 31px;
  height: 31px;
}
.header__basket_text {
  font-size: 16px;
  font-weight: 500;
}
.header__bas2 {
  color: #E8AA31;
  display: block;
  margin-top: 5px;
}
@media (max-width: 900px) {
  .header__part2 {
    display: none;
  }
}
.header__burger {
  position: relative;
  top: 7px;
  width: 23px;
  height: 18px;
  right: 0;
  z-index: 12;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 900px) {
  .header__burger {
    display: none;
  }
}
.header__burger::before, .header__burger span, .header__burger::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  left: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 10px;
}
.header__burger::before {
  top: 7px;
}
.header__burger::after {
  top: -7px;
}
.header__burger.active {
  top: -8px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.header__burger.active::before {
  top: 0px;
  background: #141414;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active span {
  opacity: 0;
  background: #141414;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}
.header__burger.active::after {
  top: 0px;
  background: #141414;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (min-width: 900px) {
  .header__list2 {
    display: none;
  }
}
.header__item2 {
  margin-right: 35px;
}
.header__item2:last-child {
  margin-right: 0;
}
.header__item2:nth-child(1) img, .header__item2:nth-child(2) img {
  width: 23px;
  height: 24px;
}
.header__item2:nth-child(3) img {
  width: 28px;
  height: 23px;
}
.header__item2:nth-child(4) img {
  width: 35px;
  height: 31px;
}

.footer {
  color: #fff;
}
.footer__block_up_text {
  background: url("../img/img1/bg0.jpg") center 0/cover no-repeat;
  text-align: center;
}
.footer__block_text {
  padding: 60px 0;
}
.footer__title1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 153.3333333333%;
  margin-bottom: 30px;
  color: #E8AA31;
}
.footer__text1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 205.5555555556%;
}
.footer__body0 {
  background: #141414;
}
.footer__body1, .footer__body2, .footer__body3, .footer__column, .footer__block, .footer__social, .footer__link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__body1, .footer__body2, .footer__body3, .footer__link2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer__body1, .footer__body2 {
  border-bottom: 1px solid #fff;
  width: 100vw;
}
@media (max-width: 1400px) {
  .footer__body1, .footer__body2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__column, .footer__block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__body3 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__body1 {
  padding: 102px 205px 30px 10px;
}
@media (max-width: 1400px) {
  .footer__body1 {
    padding: 102px 205px 0px 10px;
  }
}
.footer__body2 {
  padding: 35px 10px 30px 10px;
}
@media (max-width: 1400px) {
  .footer__body2 {
    padding: 35px 10px 0px 10px;
  }
}
.footer__body3 {
  padding: 30px 10px 45px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 192.8571428571%;
}
@media (max-width: 1000px) {
  .footer__body3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .footer__text01, .footer__text02 {
    display: block;
    width: 100%;
  }
}
.footer__column {
  width: 340px;
}
@media (max-width: 1400px) {
  .footer__column {
    width: 35vw;
    margin-bottom: 60px;
  }
}
@media (max-width: 1000px) {
  .footer__column {
    width: 100%;
  }
}
.footer__column1 {
  width: 233px;
}
@media (max-width: 1400px) {
  .footer__column1 {
    width: 35vw;
  }
}
@media (max-width: 1000px) {
  .footer__column1 {
    width: 100%;
  }
}
.footer__column2 {
  width: 194px;
}
@media (max-width: 1400px) {
  .footer__column2 {
    width: 35vw;
  }
}
@media (max-width: 1000px) {
  .footer__column2 {
    width: 100%;
  }
}
.footer__column3 {
  width: 250px;
}
@media (max-width: 1400px) {
  .footer__column3 {
    width: 35vw;
  }
}
@media (max-width: 1000px) {
  .footer__column3 {
    width: 100%;
  }
}
.footer__column3 span {
  color: #E8AA31;
}
.footer__title, .footer__link {
  font-size: 18px;
}
.footer__title {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 23px;
}
.footer__link {
  font-weight: 60;
  margin-bottom: 20px;
}
.footer__link img {
  margin-right: 16px;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__item0 {
  margin-right: 20px;
}
.footer__item0:last-child {
  margin-right: 0;
}
.footer__item0 img {
  width: 43px;
  height: 43px;
}
.footer__group {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  margin-bottom: 22px;
}
@media (max-width: 1000px) {
  .footer__group {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .footer__group {
    width: 100%;
  }
}
.footer__input0, .footer__btn0 {
  position: absolute;
  top: 0;
  height: 100%;
  outline: none;
  border: none;
}
.footer__input0 {
  left: 0;
  width: 80%;
  background: transparent;
  text-indent: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
.footer__btn0 {
  right: 0;
  width: 20%;
  background: #E8AA31;
}
.footer__btn0 i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.footer__text01 {
  width: 50%;
}
@media (max-width: 1000px) {
  .footer__text01 {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .footer__title {
    z-index: 5;
  }
  .footer__title.active {
    color: #E8AA31;
  }
}
@media (max-width: 1000px) {
  .footer__block {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }
  .footer__block.active {
    position: static;
    opacity: 1;
    z-index: 2;
  }
}

.footer__checkbox {
  position: relative;
}

.footer__checkbox input[type=checkbox]:checked,
.footer__checkbox input[type=checkbox]:not(:checked),
.footer__checkbox input[type=radio]:checked,
.footer__checkbox input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.footer__checkbox input[type=checkbox]:checked + label,
.footer__checkbox input[type=checkbox]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.footer__checkbox input[type=checkbox]:checked + label:before,
.footer__checkbox input[type=checkbox]:not(:checked) + label:before {
  border-radius: 2px;
}

.footer__checkbox input[type=checkbox]:checked + label:after,
.footer__checkbox input[type=checkbox]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__checkbox input[type=checkbox]:checked + label:before,
.footer__checkbox input[type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid #D1D1D1;
}

.footer__checkbox input[type=checkbox]:checked + label:after,
.footer__checkbox input[type=checkbox]:not(:checked) + label:after {
  left: 0px;
  top: 5px;
  width: 20px;
  height: 10px;
  border-radius: 1px;
  border-left: 2.5px solid #E8AA31;
  border-bottom: 2.5px solid #E8AA31;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.footer__checkbox input[type=checkbox]:not(:checked) + label:after,
.footer__checkbox input[type=radio]:not(:checked) + label:after {
  opacity: 0;
}

.footer__checkbox input[type=checkbox]:checked + label:after,
.footer__checkbox input[type=radio]:checked + label:after {
  opacity: 1;
}

.between {
  width: 100%;
  height: 70px;
  background: #141414;
}

.home {
  background: #000;
  color: #fff;
}
.home .container {
  position: relative;
}
.home__body {
  width: 100%;
  overflow: hidden;
}
.home__img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 1580px;
  width: 100%;
}
@media (max-width: 1350px) {
  .home__img1 {
    display: none;
  }
}
.home__block_text {
  width: 60%;
  padding: 44px 0 120px 0;
}
@media (max-width: 1200px) {
  .home__block_text {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .home__block_text {
    width: 100%;
    text-align: center;
  }
}
.home__title {
  font-size: 36px;
  line-height: 127.7777777778%;
  font-weight: 600;
  margin-bottom: 30px;
}
.home__title span {
  font-weight: 400;
}
.home__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 60px;
}
.home__text span {
  font-weight: 600;
}
.home__btn {
  background: #E8AA31;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  width: 228px;
  height: 50px;
}
@media (max-width: 900px) {
  .home__btn {
    margin: 0 auto;
  }
}
.home__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 14px;
}
.home__item {
  width: 274px;
  text-align: center;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 50px;
}
@media (max-width: 1350px) {
  .home__item {
    width: 45%;
  }
}
@media (max-width: 650px) {
  .home__item {
    width: 100%;
  }
}
.home__img {
  font-size: 32px;
  margin-bottom: 15px;
}

.catalog {
  background-color: #fff;
  padding: 100px 0 68px 0;
}
.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__item {
  position: relative;
  width: 32%;
  height: 293px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 32px;
  padding: 38px 35px;
}
@media (max-width: 1450px) {
  .catalog__item {
    width: 49%;
  }
}
@media (max-width: 950px) {
  .catalog__item {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .catalog__item {
    padding: 20px;
  }
}
.catalog__img {
  position: absolute;
  bottom: 0;
  right: -3%;
  height: 80%;
  width: auto;
  z-index: 1;
}
@media (max-width: 950px) {
  .catalog__img {
    right: 10%;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .catalog__img {
    right: 5%;
    height: 80%;
  }
}
@media (max-width: 550px) {
  .catalog__img {
    right: -3%;
  }
}
@media (max-width: 450px) {
  .catalog__img {
    height: 70%;
  }
}
@media (max-width: 390px) {
  .catalog__img {
    right: -6%;
    height: 60%;
  }
}
@media (max-width: 320px) {
  .catalog__img {
    height: 40%;
  }
}
.catalog__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 25px;
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
}
@media (max-width: 1450px) {
  .catalog__title {
    font-size: calc(25px + 5 * (100vw - 280px) / 1170);
  }
}
.catalog__title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #E8AA31;
  width: 70px;
  height: 3px;
  border-radius: 5px;
}
.catalog__item0 {
  font-size: 18px;
  font-weight: 500;
  line-height: 194.4444444444%;
  position: relative;
  left: 18px;
}
@media (max-width: 1450px) {
  .catalog__item0 {
    font-size: calc(16px + 2 * (100vw - 280px) / 1170);
  }
}
.catalog__item0:last-child {
  margin-bottom: 0;
}
.catalog__item0::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background: #E8AA31;
  width: 6px;
  height: 6px;
  top: 12px;
  left: -18px;
}

.products {
  padding: 100px 0 70px 0;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .products__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.products__choice {
  margin-right: 40px;
  font-size: 30px;
  line-height: 153.3333333333%;
  font-weight: 700;
  cursor: pointer;
}
.products__choice:last-child {
  margin-right: 0;
}
@media (max-width: 1450px) {
  .products__choice {
    font-size: calc(22px + 8 * (100vw - 280px) / 1170);
  }
}
.products__choice.active {
  color: #E8AA31;
}
@media (max-width: 1000px) {
  .products__choice {
    margin: 0 10px 20px 10px;
  }
  .products__choice:last-child {
    margin: 0 10px 20px 10px;
  }
}
.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 800px) {
  .products__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.products__item {
  width: 375px;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.products__item.hide {
  display: none;
}
.products__item.show {
  -webkit-animation: animate 0.6s ease;
          animation: animate 0.6s ease;
}
@media (max-width: 400px) {
  .products__item {
    width: 100%;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.item1__img {
  width: 269px;
  height: 239px;
  margin-bottom: 50px;
}
.item1__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}
.item1__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #ABABAB;
  width: 100%;
}
.item1__info2 {
  padding-bottom: 20px;
  position: relative;
}
.item1__info2::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #141414;
}
.item1__btn {
  width: 100%;
  height: 50px;
  background: #E8AA31;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item1__btn img {
  margin-left: 15px;
}
.item1__btn:hover {
  background: #000;
}
.item1__btn:active {
  background: rgb(54, 52, 52);
}
.item1__favorit {
  cursor: pointer;
}
.item1__favorit:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-filter: brightness(0);
          filter: brightness(0);
}
.item1__favorit:active {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.favorits {
  padding: 0 10px 100px 10px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: scroll;
}
.favorits.active {
  left: 0;
  z-index: 15;
}
.favorits::-webkit-scrollbar {
  display: none;
}
.favorits__close {
  position: relative;
  top: 30px;
  left: 30px;
}
.favorits__close::before, .favorits__close::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 25px;
  height: 6px;
  background: #000;
  border-radius: 50px;
  cursor: pointer;
}
.favorits__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.favorits__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.favorits__items {
  margin-bottom: 50px;
}
.favorits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.favorits__item:last-child {
  margin-bottom: 0;
}

.basket {
  padding: 0 10px 100px 10px;
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: scroll;
}
@media (max-width: 1500px) {
  .basket {
    width: 50%;
  }
}
@media (max-width: 1250px) {
  .basket {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .basket {
    width: 100%;
  }
}
.basket.active {
  right: 0;
  z-index: 15;
}
.basket::-webkit-scrollbar {
  display: none;
}
.basket__close {
  position: relative;
  top: 30px;
  left: 30px;
}
@media (max-width: 600px) {
  .basket__close {
    top: 50px;
    left: 10px;
  }
}
.basket__close::before, .basket__close::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 25px;
  height: 6px;
  background: #000;
  border-radius: 50px;
  cursor: pointer;
}
.basket__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.basket__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.basket__title {
  text-align: center;
  padding-top: 150px;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .basket__title {
    font-size: calc(26px + 9 * (100vw - 280px) / 1170);
  }
}
.basket__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .basket__total {
    font-size: calc(15px + 5 * (100vw - 280px) / 1170);
  }
}
.basket__items {
  margin-bottom: 50px;
}
.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.basket__item:last-child {
  margin-bottom: 0;
}
.basket__buy {
  margin: 0 auto;
  background: green;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  display: block;
}
@media (max-width: 1000px) {
  .basket__buy {
    font-size: calc(15px + 5 * (100vw - 280px) / 1170);
  }
}
.basket__buy.active {
  display: none;
}

.item4__img {
  width: 25%;
  height: auto;
}
.item4__title {
  font-size: 25px;
  font-weight: 700;
}
.item4__price {
  font-size: 20px;
  font-weight: 800;
  color: #E8AA31;
  margin-bottom: 10px;
}
.item4__del {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 30px;
  background: red;
  color: #fff;
}

.item0__img {
  width: 25%;
  height: auto;
}
.item0__info {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item0__title {
  font-size: 25px;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .item0__title {
    font-size: calc(12px + 13 * (100vw - 280px) / 1170);
  }
}
.item0__title2 {
  font-size: 17px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .item0__title2 {
    font-size: calc(12px + 5 * (100vw - 280px) / 1170);
  }
}
.item0__price {
  font-size: 20px;
  font-weight: 800;
  color: #E8AA31;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .item0__price {
    font-size: calc(12px + 8 * (100vw - 280px) / 1170);
  }
}
.item0___quantity {
  width: 50px;
  height: 25px;
  font-size: 18px;
  font-weight: 600;
  outline: #E8AA31;
}
@media (max-width: 1000px) {
  .item0___quantity {
    font-size: calc(12px + 6 * (100vw - 280px) / 1170);
    width: calc(30px + 20 * (100vw - 280px) / 1170);
    height: calc(18px + 7 * (100vw - 280px) / 1170);
  }
}
.item0__del {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 30px;
  background: red;
  color: #fff;
}
@media (max-width: 1000px) {
  .item0__del {
    font-size: calc(12px + 8 * (100vw - 280px) / 1170);
  }
}

.basket20 {
  cursor: pointer;
}

.result {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.01);
          transform: translate(-50%, -50%) scale(0.01);
  z-index: -1;
  opacity: 0;
  text-align: center;
  padding: 30px 50px;
  border-radius: 50px;
  background: green;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.result.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  z-index: 20;
  opacity: 1;
}
.result span {
  color: #000;
  font-weight: 800;
}
.result__close {
  position: relative;
  margin-bottom: 20px;
}
.result__close::before, .result__close::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.result__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.result__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.result__close:hover::before, .result__close:hover::after {
  background: #000;
}

.favoritBtn {
  cursor: pointer;
}